<!DOCTYPE html>
<html>
<head>
  <title>The National Voice for the Cannabis Industry</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:#FFFCDB;background-position-y:-75px;padding-top:224px;">
<div class="container">

	<div class="content-container">
	<%= image_tag "logo.png", style: "position:absolute;top:-218px;" %>

	<div class="prepend-6 span-12 main-content">
		<%= render "shared/alerts" %>
		<%= yield %>
		<br />
		<%= link_to "Go back", root_path %>
	</div>
	</div>

</div>
</div>
</body>

</html>
