<!DOCTYPE html>
<html>
<head>
  <title>The National Voice for the Cannabis Industry</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:#FFFCDB">
<div class="container">

	<div class="span-24 header-container">
	<%= render "shared/header" %>
	<div class="content-container">

	<div class="span-12 prepend-6 main-content">
		<%= render "shared/alerts" %>
		<%= yield %>
	</div>
	</div>
	<div class="span-24">
		<div class="footer-container">
			<p class="footer-content">National Cannabis Industry Association • P.O. Box 78062 • Washington, DC 20013 • Phone: (202) 379-4861 • Fax: (202)232-0442 • Info@TheCannabisIndustry.org</p>
			<p class="footer-content">© Copyright 2012</p>
	</div>

</div>
</div>
</body>

</html>
