<h3>Search For Discounts</h3>
<%= simple_form_for Member.new, :url => member_discounts_path do |f| %>
	<%= f.input_field :query, placeholder: "What are you looking for ex. lawyer" %>
  <%= f.input_field :state, collection: @states, prompt: "Filter By State" %>
  <%= f.submit 'Search' %>
<% end %>
<hr />

<% unless @members.empty? %>
	<% @members.each do |m| %>
		<%= render "listing", member: m %>
	<% end %>
<% else %>
	<p>Sorry no results match your criteria check back soon we just updated our system and are receiving new discounts every day!</p>
<% end %>
