<%= simple_form_for Member.new, :url => members_search_index_path do |f| %>
  <%= f.input_field :state, collection: @states, prompt: "Filter By State" %>
  <%= f.input_field :category, collection: @categories, prompt: "Filter By Business Category" %>
  <%= f.submit 'Filter' %>
<% end %>

<% index = 1 %>
<div class="member-heading">Featured Sustaining Members<% if @sustaining_members.count > 9 %><span class="expand-contract">Show All</span><% end %></div>
<div class="member-thumb-container">
	<% @sustaining_members.each do |m| %>
		<%= render "thumb", member: m, i: index %>
		<% index += 1 %>
	<% end %>
	<% index = 1 %>
</div>
<div class="member-heading">Featured Sponsoring Members<% if @sponsoring_members.count > 9 %><span class="expand-contract">Show All</span><% end %></div>
<div class="member-thumb-container">
	<% @sponsoring_members.each do |m| %>
		<%= render "thumb", member: m, i: index %>
		<% index += 1 %>
	<% end %>
	<% index = 1 %>
</div>
<div class="member-heading">Featured Regular Members<% if @regular_members.count > 9 %><span class="expand-contract">Show All</span><% end %></div>
<div class="member-thumb-container">
	<% @regular_members.each do |m| %>
		<%= render "thumb", member: m, i: index %>
		<% index += 1 %>
	<% end %>
	<% index = 1 %>
</div>
